.auth_container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  .container_form {
    background: green;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 320px;
      text-align: center;
      .form_discription {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form {
        max-width: 320px;
        width: 100%;
        .input_container {
          display: flex;
          flex-direction: column;
          position: relative;
          border-bottom: 1px solid white;
          margin-bottom: 20px;
          .placeholder_input {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 12px;
          }
          .input {
            border: none;
            height: 52px;
            padding-left: 15px;
            font-size: 16px;
            background: none;
            &:placeholder-shown {
              & ~ .placeholder_input {
                top: 15px;
                left: 15px;
                font-size: 20px;
              }
            }
            &::placeholder {
              font-size: 0;
            }
            &:focus {
              & ~ .placeholder_input {
                top: 5px;
                left: 5px;
                font-size: 12px;
              }
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .button_signIn {
        margin-top: 20px;
        width: 80%;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        // color: white;
      }
    }
  }
}
